﻿@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using System.Collections;
@using System.Linq;
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Localization;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Pages.Model;
@using Telerik.Sitefinity.Modules.Libraries;
@using SitefinityWebApp.Core.Helpers
@using SitefinityWebApp.CustomResources

<div class="@Model.CssClass row" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Fields.Id)>
    <div class="col-12 col-md">
        <div class="row bg-primary p-5">
            <div class="col-8">
                <h3 class="text-secondry text-bold">@Html.Resource("AboutThe", "ProjectManagerResources")</h3>
                <h2 class="text-bold">@Html.Resource("ProjectManager", "ProjectManagerResources")</h2>
                <h3 class="text-white" @Html.InlineEditingFieldAttributes("Title", "ShortText")>@Model.Item.Fields.Title</h3>
                <h4 class="text-white text-light" @Html.InlineEditingFieldAttributes("JobTitle", "ShortText")>@Model.Item.Fields.JobTitle</h4>
            </div>
            @if (Model.Item.Fields.Image != null)
            {
                <div class="col-4">
                    <img src="@MediaContentExtensions.ResolveMediaUrl(Model.Item.Fields.Image.DataItem)" class="img-full">
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Item.Fields.Introduction))
            {
                <div class="col-12">
                    <div class="text-white mt-3 text-justified mb-3" @Html.InlineEditingFieldAttributes("Introduction", "LongText")>
                        @Html.HtmlSanitize((string)Model.Item.Fields.Introduction)
                    </div>
                </div>
            }
        </div>
    </div>
</div>