﻿@model System.Web.UI.Control

@using Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Mvc;
@using SitefinityWebApp.Core.Helpers;
@using Newtonsoft;

@Html.QueryBuilderScriptReferences()

@{
    var controller = ((Telerik.Sitefinity.Mvc.Proxy.MvcProxyBase)Model).GetController();
    var widgetProxy = Model as Telerik.Sitefinity.Frontend.Mvc.Infrastructure.Controllers.MvcWidgetProxy;
    var moduleName = widgetProxy != null ? widgetProxy.ModuleName : null;
}

<server-data default-provider-name='@Html.DefaultProviderName(Telerik.Sitefinity.DynamicModules.DynamicModuleManager.GetManager(), Model.DynamicModuleName())' item-type="@Model.DynamicContentType().FullName" parent-types="@Model.SerializedParentTypes()" type-taxonomies="@Newtonsoft.Json.JsonConvert.SerializeObject(FiltersHelper.GetFiltersForContentType(Model.DynamicContentType()))">
</server-data>

<uib-tabset class="nav-tabs-wrapper">
    <uib-tab heading="@Html.Resource("Content")">
        <label>@Html.Resource("ItemsToDisplay").Arrange(Model.ContentTypeDisplayNamePlural().ToLower())</label>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <sf-provider-selector sf-manager-type='@Model.DynamicModuleName()'
                                          sf-provider-label='@Html.Resource("Provider")'
                                          ng-model="properties.ProviderName.PropertyValue">
                    </sf-provider-selector>
                </div>
            </div>
        </div>

        @if (Model.ParentModuleTypes().Count() == 0)
        {
            <div class="form-group">
                <div class="radio">
                    <label for="allItems" class="full-width">
                        <input id="allItems" type="radio" ng-model="properties.SelectionMode.PropertyValue" value="AllItems" />
                        @Html.Resource("AllPublishedItems").Arrange(Model.ContentTypeDisplayNamePlural().ToLower())
                    </label>
                </div>
                <div class="radio">
                    <label for="selectedItems" class="full-width">
                        <input id="selectedItems" type="radio" ng-model="properties.SelectionMode.PropertyValue" value="SelectedItems" />

                        @Html.Resource("SelectedItems").Arrange(Model.ContentTypeDisplayNamePlural().ToLower())

                    </label>
                    <div class="label-content">
                        <sf-list-selector sf-dynamic-items-selector ng-show="properties.SelectionMode.PropertyValue=='SelectedItems'"
                                          sf-multiselect="true" sf-sortable="true" sf-master="true"
                                          sf-provider="properties.ProviderName.PropertyValue"
                                          sf-selected-ids="itemSelector.selectedItemsIds"
                                          sf-item-type="itemType"
                                          sf-identifier-field="@Model.GetIdenfierField()"
                                          sf-title="@Html.Raw(Model.ContentTypeDisplayNamePlural())"></sf-list-selector>
                    </div>
                </div>
                <div class="radio">
                    <label for="filterItems" class="full-width">
                        <input id="filterItems" type="radio" ng-model="properties.SelectionMode.PropertyValue" value="FilteredItems" />

                        @Html.Resource("NarrowSelection")
                        <sf-filter-selector sf-query-data="additionalFilters.value"
                                            sf-taxonomy-fields="@CustomFieldsHelpers.GetTaxonomyFields(Model.DynamicContentType())"
                                            sf-provider="properties.ProviderName.PropertyValue"
                                            ng-show="properties.SelectionMode.PropertyValue=='FilteredItems'"
                                            sf-date-groups="dateFilters.value"
                                            sf-group-logical-operator="properties.SelectionGroupLogicalOperator.PropertyValue"
                                            class="sf-filter-selector"></sf-filter-selector>
                    </label>
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <div class="radio">
                    <label for="parentAll" class="full-width">
                        <input id="parentAll" type="radio" ng-model="properties.ParentFilterMode.PropertyValue" value="All" />

                        @Html.Resource("FromAll").Arrange(Model.ParentModuleTypes().First().DisplayName.ToPlural().ToLower())
                    </label>
                </div>
                <div class="radio">
                    <label for="parentSelectedOnly" class="full-width">
                        <input id="parentSelectedOnly" type="radio" ng-model="properties.ParentFilterMode.PropertyValue" value="Selected" />

                        @Html.Resource("FromSelected").Arrange(Model.ParentModuleTypes().First().DisplayName.ToPlural().ToLower())

                        <sf-list-selector sf-dynamic-items-selector ng-show="properties.ParentFilterMode.PropertyValue=='Selected'"
                                          sf-multiselect="true" sf-sortable="true" sf-master="true"
                                          sf-provider="properties.ProviderName.PropertyValue"
                                          sf-selected-ids="parentSelector.selectedItemsIds"
                                          sf-identifier-field="@Model.GetParentIdenfierField()"
                                          sf-item-type="parentTypes[0].TypeName"></sf-list-selector>
                    </label>
                </div>
                @if (Model.ParentModuleTypes().Count() == 1)
                {
                    <div class="radio form-inline">
                        <label for="parentCurrentlyOpen">
                            <input id="parentCurrentlyOpen" type="radio" ng-model="properties.ParentFilterMode.PropertyValue" value="CurrentlyOpen" />

                            @Html.Resource("FromCurrentlyOpen") @Model.ParentModuleTypes().First().DisplayName.ToLower()
                        </label>
                    </div>
                }
                else
                {
                    <div class="radio form-inline">
                        <label for="parentCurrentlyOpen">

                            <input id="parentCurrentlyOpen" type="radio" ng-model="properties.ParentFilterMode.PropertyValue" value="CurrentlyOpen" />

                            @Html.Resource("FromCurrentlyOpen")
                        </label>

                        <select class="form-control input-sm" ng-model="properties.CurrentlyOpenParentType.PropertyValue" ng-options="parentType.TypeName as parentType.DisplayName for parentType in parentTypes"></select>

                    </div>
                }
                <div class="radio">
                    <label for="parentNotApplicable" class="full-width">
                        <input id="parentNotApplicable" type="radio" ng-model="properties.ParentFilterMode.PropertyValue" value="NotApplicable" />

                        @Html.Resource("SelectedItems").Arrange(Model.ContentTypeDisplayNamePlural().ToLower())
                    </label>
                    <div class="label-content">
                        <sf-list-selector sf-dynamic-items-selector ng-show="properties.SelectionMode.PropertyValue=='SelectedItems'"
                                          sf-multiselect="true" sf-sortable="true" sf-master="true"
                                          sf-provider="properties.ProviderName.PropertyValue"
                                          sf-selected-ids="itemSelector.selectedItemsIds"
                                          sf-identifier-field="@Model.GetIdenfierField()"
                                          sf-item-type="itemType"></sf-list-selector>
                    </div>
                </div>
            </div>

            <div expander class="Options-arrows" expander-title='@Html.Resource("NarrowSelection")' start-expanded='@Model.ExpandNarrowSelection().ToString()' ng-show="properties.SelectionMode.PropertyValue!='SelectedItems'">
                <div class="radio m-top-none">
                    <label for="allItemsExpander" class="full-width">
                        <input id="allItemsExpander" type="radio" ng-model="properties.SelectionMode.PropertyValue" value="AllItems" />
                        @Html.Resource("AllPublishedItems").Arrange(Model.ContentTypeDisplayNamePlural().ToLower())
                    </label>
                </div>
                <div class="radio">
                    <label for="filterItems" class="full-width">
                        <input id="filterItems" type="radio" ng-model="properties.SelectionMode.PropertyValue" value="FilteredItems" />
                        @Html.Resource("SelectionOfItems").Arrange(Model.ContentTypeDisplayNamePlural().ToLower())
                        <sf-filter-selector sf-query-data="additionalFilters.value"
                                            sf-taxonomy-fields="@CustomFieldsHelpers.GetTaxonomyFields(Model.DynamicContentType())"
                                            sf-provider="properties.ProviderName.PropertyValue"
                                            ng-show="properties.SelectionMode.PropertyValue=='FilteredItems'"
                                            sf-date-groups="dateFilters.value"
                                            sf-group-logical-operator="properties.SelectionGroupLogicalOperator.PropertyValue"
                                            class="sf-filter-selector"></sf-filter-selector>
                    </label>
                </div>
            </div>
        }
    </uib-tab>

    <uib-tab heading="@Html.Resource("ListSettings")">
        <div class="form-group">
            <div class="radio">
                <label for="usePaging">
                    <input id="usePaging" type="radio" ng-model="properties.DisplayMode.PropertyValue" value="Paging" />

                    <strong>@Html.Resource("UsePaging")</strong><br />

                    <span>
                        @Html.Raw(String.Format(Html.HtmlSanitize((string)Html.Resource("DivideToItemPerPage")).ToString(),
                        "<input type='text' style='width: 40px' ng-disabled='properties.DisplayMode.PropertyValue!=\"Paging\"' ng-model='properties.ItemsPerPage.PropertyValue'/>"))
                    </span>
                </label>
            </div>
            <div class="radio">
                <label for="useLimit">
                    <input id="useLimit" type="radio" ng-model="properties.DisplayMode.PropertyValue" value="Limit" />

                    <strong>@Html.Resource("UseLimit")</strong><br />

                    <span>
                        @Html.Raw(String.Format(Html.HtmlSanitize((string)Html.Resource("ShowLimitedItems")).ToString(),
                        "<input type='text' style='width: 40px' ng-disabled='properties.DisplayMode.PropertyValue!=\"Limit\"' ng-model='properties.LimitCount.PropertyValue'/>"))
                    </span>
                </label>
            </div>
            <div class="radio">
                <label for="allItemsList">
                    <input id="allItemsList" type="radio" ng-model="properties.DisplayMode.PropertyValue" value="All" />

                    <strong>@Html.Resource("NoLimitPaging")</strong><br />

                    <span>@Html.Resource("ShowAllItems")</span>
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label for="sortOptions">@Html.Resource("SortItems").Arrange(Model.ContentTypeDisplayNamePlural().ToLower())</label>


                    <select id="sortOptions" ng-model="selectedSortOption" class="form-control" ng-change="updateSortOption(selectedSortOption)">
                        <option value="PublicationDate DESC"> @Html.Resource("LastPublished")</option>
                        <option value="LastModified DESC"> @Html.Resource("LastModified")</option>
                        <option value="Title ASC"> @Html.Resource("ByTitleAZ")</option>
                        <option value="Title DESC"> @Html.Resource("ByTitleZA")</option>
                        <option value="AsSetManually"> @Html.Resource("AsSetManually")</option>
                        <option value="Custom"> @Html.Resource("AsSetInAdvancedMode")</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="listTemplateName">@Html.Resource("ListTemplate")</label>

            <div class="row">
                <div class="col-xs-6">
                    <select id="listTemplateName" ng-model="properties.ListTemplateName.PropertyValue" class="form-control">
                        @foreach (var viewName in Html.GetViewNames(controller, @"List\.(?<viewName>[\w\s]*)$", moduleName))
                        {
                            <option value="@viewName"> @viewName.SplitCamelCase()</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <expander expander-title='@Html.Resource("MoreOptions")'>
            <style-dropdown selected-class="properties.ListCssClass.PropertyValue" view-name="properties.ListTemplateName.PropertyValue"></style-dropdown>

            <div class="form-group">
                <label for="navCssClass">@Html.Resource("CssClasses")</label>
                <input type="text" id="navCssClass" ng-model="properties.ListCssClass.PropertyValue" class="form-control" />
            </div>
        </expander>
    </uib-tab>

    <uib-tab heading="@Html.Resource("SingleItemSettings")">
        <div class="form-group" ng-show="properties.DetailTemplateName.PropertyValue =='ProjectExpectations'">
            <div class="row">
                <div class="col-xs-6">
                    <label for="widgetTitleNotRequired">Title</label>
                    <input id="widgetTitleNotRequired" type="text" ng-model="properties.Title.PropertyValue" class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>@Html.Resource("OpenSingleItem")</label>
            <div class="radio">
                <label for="samePage">
                    <input id="samePage" type="radio" ng-model="properties.OpenInSamePage.PropertyValue" value="True" />
                    <span>
                        @Html.Resource("ShowInSamePage")
                    </span>
                </label>
            </div>
            <div class="radio">
                <label for="existingPage">
                    <input id="existingPage" type="radio" ng-model="properties.OpenInSamePage.PropertyValue" value="False" />
                    @Html.Resource("ShowInExistingPage")
                </label>
                <div class="label-content">
                    <sf-list-selector sf-page-selector
                                      sf-selected-item-id="properties.DetailsPageId.PropertyValue"
                                      ng-hide="properties.OpenInSamePage.PropertyValue == 'True'"></sf-list-selector>
                </div>
            </div>
        </div>

        <div class="form-group m-top-md row">
            <div class="col-xs-6">
                <label for="detailTemplateName">@Html.Resource("DetailTemplate")</label>

                <select id="detailTemplateName" ng-model="properties.DetailTemplateName.PropertyValue" class="form-control">
                    @foreach (var viewName in Html.GetViewNames(controller, @"Detail\.(?<viewName>[\w\s]*)$", moduleName))
                    {
                        <option value="@viewName"> @viewName.SplitCamelCase()</option>
                    }
                </select>
            </div>
        </div>

        <expander expander-title='@Html.Resource("MoreOptions")'>
            <style-dropdown selected-class="properties.DetailCssClass.PropertyValue" view-name="properties.DetailTemplateName.PropertyValue"></style-dropdown>

            <div class="form-group">
                <label for="cssClass">@Html.Resource("CssClasses")</label>
                <input type="text" id="cssClass" ng-model="properties.DetailCssClass.PropertyValue" class="form-control" />
            </div>
        </expander>
    </uib-tab>
</uib-tabset>
