﻿@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using System.Collections;
@using System.Linq;
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Localization;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Pages.Model;
@using Telerik.Sitefinity.DynamicModules.Model;
@using Telerik.Sitefinity.Security;
@using SitefinityWebApp.Core.Helpers;
@using Telerik.Sitefinity.Modules.Libraries;
@using SitefinityWebApp.CustomResources
@using SitefinityWebApp.Core.Constants;
@using SitefinityWebApp.Core.ProjectManagerAPI;

@{
    var ProjectManager = ProjectHelper.GetProjectManagerContent(Model);
    var programs = Model.Item.GetFlatTaxons("programs");
    var divisions = Model.Item.GetFlatTaxons("divisions");
    var centerAffiliation = Model.Item.GetFlatTaxons("centeraffiliations");
}

<div class="@Model.CssClass">
    <div class="row">
        <div class="col-12 col-md bg-grey p-5" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Fields.Id)>
            <h2 class="text-primary text-uppercase text-bold" @Html.InlineEditingFieldAttributes("Title", "ShortText")>@Model.Item.Fields.Title</h2>
            @if (!string.IsNullOrWhiteSpace(Model.Item.Fields.ApplicationLink))
            {
                <a href="@Model.Item.Fields.ApplicationLink" class="btn btn-primary text-uppercase text-bold">@Html.Resource("ProjectResourcesApply", "ProjectResources")</a><br />
            }
            @if (!string.IsNullOrWhiteSpace(Model.Item.Fields.Description))
            {
                <h2 class="text-secondry text-bold mt-5">@Html.Resource("ProjectResourcesProjectDescription", "ProjectResources")</h2>
                <div class="text-justified mb-3" @Html.InlineEditingFieldAttributes("Description", "LongText")>
                    @Html.HtmlSanitize((string)Model.Item.Fields.Description)
                </div>
            }
            @if (programs != null && programs.Count() > 0)
            {
                <div class="mt-4">
                    <img src="/ResourcePackages/VSRP/assets/dist/images/prog-icon.png" class="img-small mr-2" />
                    <span class="text-secondry text-bold">@Html.Resource("ProjectResourcesProgram", "ProjectResources")</span>
                    <span class="text-primary" @Html.InlineEditingFieldAttributes("programs", "FlatTaxon")>@programs.FirstOrDefault().Title.ToString()</span>
                </div>
            }
            @if (divisions != null && divisions.Count() > 0)
            {
                <div class="mt-2">
                    <img src="/ResourcePackages/VSRP/assets/dist/images/division.png" class="img-small mr-2" />
                    <span class="text-secondry text-bold">@Html.Resource("ProjectResourcesDivision", "ProjectResources")</span>
                    <span class="text-primary" @Html.InlineEditingFieldAttributes("divisions", "FlatTaxon")>@divisions.FirstOrDefault().Title.ToString()</span>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Item.Fields.FacultyLabLink))
            {
                <div class="mt-2">
                    <img src="/ResourcePackages/VSRP/assets/dist/images/prog-icon.png" class="img-small mr-2" />
                    <span class="text-secondry text-bold">@Html.Resource("ProjectResourcesFacultyLabLink", "ProjectResources")</span>
                    <a href="@Html.HtmlSanitize((string)Model.Item.Fields.FacultyLabLink)">
                        <span class="text-primary" @Html.InlineEditingFieldAttributes("FacultyLabLink", "ShortText")>@Html.HtmlSanitize((string)Model.Item.Fields.FacultyLabLink)</span>
                    </a>
                </div>
            }
            @if (centerAffiliation != null && centerAffiliation.Count() > 0)
            {
                <div class="mt-2">
                    <img src="/ResourcePackages/VSRP/assets/dist/images/prog-icon.png" class="img-small mr-2" />
                    <span class="text-secondry text-bold">@Html.Resource("ProjectResourcesCenterAffiliation", "ProjectResources")</span>
                    <span class="text-primary" @Html.InlineEditingFieldAttributes("centeraffiliations", "FlatTaxon")>@centerAffiliation.FirstOrDefault().Title.ToString()</span>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Item.Fields.FieldOfStudy))
            {
                <div class="mt-2">
                    <img src="/ResourcePackages/VSRP/assets/dist/images/prog-icon.png" class="img-small mr-2" />
                    <span class="text-secondry text-bold">@Html.Resource("ProjectResourcesFieldOfStudy", "ProjectResources")</span>
                    <span class="text-primary" @Html.InlineEditingFieldAttributes("FieldOfStudy", "ShortText")>@Html.HtmlSanitize((string)Model.Item.Fields.FieldOfStudy)</span>
                </div>
            }
        </div>
        <div class="col-12 col-md">
            @if (ProjectManager != null)
            {
                <div class="row bg-primary p-5">
                    <div class="col-8">
                        <h2 class="text-secondry text-bold">@Html.Resource("ProjectResourcesAboutThe", "ProjectResources")<br/>@Html.Resource("ProjectResourcesProjectManager", "ProjectResources")</h2>
                        <h3 class="text-white">@ProjectManager.DisplayName</h3>
                        @if (!string.IsNullOrWhiteSpace(ProjectManager.JobTitle))
                        {
                            <h4 class="text-white text-light">@ProjectManager.JobTitle</h4>
                        }
                    </div>

                    @if (!string.IsNullOrWhiteSpace(ProjectManager.ImageUrl))
                    {
                        <div class="col-4"><img src="@ProjectManager.ImageUrl" alt="@ProjectManager.DisplayName" class="img-full" /></div>
                    }

                    @if (!string.IsNullOrWhiteSpace(ProjectManager.Introduction))
                    {
                        <div class="col-12">
                            <div class="text-white mt-3 text-justified mb-3">
                                @Html.HtmlSanitize((string)ProjectManager.Introduction)
                            </div>
                        </div>
                    }
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Item.Fields.DesiredProjectDeliverables))
            {
                <div class="row p-5" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Fields.Id)>
                    <h2 class="text-secondry text-bold text-secondry">@Html.Resource("ProjectResourcesDesiredProjectDeliverables", "ProjectResources")</h2>
                    <div class="mt-3 text-justified w-100 mb-3" @Html.InlineEditingFieldAttributes("DesiredProjectDeliverables", "LongText")>
                        @Html.HtmlSanitize((string)Model.Item.Fields.DesiredProjectDeliverables)
                    </div>
                </div>
            }
        </div>
    </div>
</div>