﻿@model SitefinityWebApp.Mvc.Models.ProjectDynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using SitefinityWebApp.Core.Helpers;
@using SitefinityWebApp.CustomResources
@using SitefinityWebApp.Mvc.Models
@using Telerik.Sitefinity.Model
@using Telerik.Sitefinity.Frontend.Mvc.Models

@{
    bool shouldHide = ((ProjectDynamicContentListViewModel)this.Model).ShouldHideQueryString() ||
        (this.Model.Items == null && !this.Model.Items.Any());
}

@if (!shouldHide)
{
    <div class="row mt-5 @Model.CssClass">
        <div class="col-12">
            <p class="text-bold">@Html.Resource("ProjectResourcesTotalResult", "ProjectResources") @Model.Items.Count()</p>
        </div>
        <div class="col-12">
            @foreach (var item in Model.Items)
            {
                var programs = item.GetFlatTaxons("programs");
                string navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
                <a href="@navigateUrl">
                    <div class="row bg-grey pt-4 pb-3 pr-3 pl-3 mt-3">
                        <div class="col-12 col-md">
                            <h5 class="text-secondry text-bold">@item.Fields.Title</h5>
                        </div>
                        @if (programs != null && programs.Any())
                        {
                            foreach (var program in programs)
                            {
                                <div class="col-12 col-md">
                                    <h5><span class="text-primary">@Html.Resource("ProjectResourcesAcademicProgram", "ProjectResources") </span><span class="text-black">@program.Title</span></h5>
                                </div>
                            }
                        }
                    </div>
                </a>
                @LoadItemHiddenDataForSeach(item)
            }
        </div>
    </div>
}

@helper LoadItemHiddenDataForSeach(ItemViewModel item)
{
    var programs = item.GetFlatTaxons("programs");
    var divisions = item.GetFlatTaxons("divisions");
    var studenttypes = item.GetFlatTaxons("studenttypes");
    var centeraffiliations = item.GetFlatTaxons("centeraffiliations");
    <div class="d-none">
        <div>@Html.HtmlSanitize((string)item.Fields.Description)</div>
        <div>@Html.HtmlSanitize((string)item.Fields.PocketID)</div>
        <div>@item.Fields.PointOfContact</div>
        <div>@item.Fields.Keywords</div>
        <div>@item.Fields.FieldOfStudy</div>
        @if (programs != null && programs.Count > 0 && item.Fields.programs.Count > 0)
        {
            <div>@programs.FirstOrDefault().Title.ToString()</div>
        }
        @if (divisions != null && divisions.Count > 0 && item.Fields.divisions.Count > 0)
        {
            <div>@divisions.FirstOrDefault().Title.ToString()</div>
        }
        @if (studenttypes != null && studenttypes.Count > 0 && item.Fields.studenttypes.Count > 0)
        {
            <div>@studenttypes.FirstOrDefault().Title.ToString()</div>
        }
        @if (centeraffiliations != null && centeraffiliations.Count > 0 && item.Fields.centeraffiliations.Count > 0)
        {
            <div>@centeraffiliations.FirstOrDefault().Title.ToString()</div>
        }
    </div>
}
